*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
app/build
/captures
.externalNativeBuild
.cxx
local.properties

# NDK
obj/

# User-specific things
.idea/

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs REST services)
google-services.json

# Android Studio Navigation editor temp files
.navigation/

# APKs and Bundles
*.apk
*.aab
key.properties
*.jks
